dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aa7426e2-7c53-454b-af25-c2247153aa1f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="35dc7611-41aa-43a0-b2c6-3997d98050a9" >
		<http:listener doc:name="Listener" doc:id="4f7bd9f2-ef29-43e6-9863-d21f6ace7b9e" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Hello Dummy!"]' doc:name="Set Payload" doc:id="b6897e0a-7621-4ddf-99ec-f4ac842c8fd7" />
		<logger level="INFO" doc:name="Logger" doc:id="b1521d07-cf34-4d14-9038-ba6eb2576dd9" message="#[payload]"/>
	</flow>
</mule>
